<!DOCTYPE html>
<html lang="en">
<head>
    <title>Employees</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<nav>
    <h2>EMS</h2>
    <ul>
        <li><a href="/">Dashboard</a></li>
        <li><a href="/employees">Employees</a></li>
    </ul>
</nav>

<section class="hero">
    {% with messages = get_flashed_messages() %}

    {% if messages %}

        {% for message in messages %}

            <div class="flash-message">
                {{ message }}
            </div>

        {% endfor %}

    {% endif %}

{% endwith %}
    <h1>Add Employee</h1>

    <form method="POST" class="employee-form">

        <input type="text" name="name" placeholder="Employee Name" required>

        <input type="text" name="department" placeholder="Department" required>

        <button type="submit">Add Employee</button>

    </form>
    <form method="GET" class="search-form">

    <input
        type="text"
        name="search"
        placeholder="Search employee..."
    >

    <button type="submit">
        Search
    </button>

</form>

    <table class="employee-table">

    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Department</th>
        <th>Actions</th>
    </tr>

    {% for employee in employees %}

    <tr>
        <td>{{ employee[0] }}</td>
        <td>{{ employee[1] }}</td>
        <td>{{ employee[2] }}</td>

        <td>

            <a href="/edit/{{ employee[0] }}">
                <button>Edit</button>
            </a>

            <a href="/delete/{{ employee[0] }}">
                <button class="delete-btn">Delete</button>
            </a>

        </td>
    </tr>

    {% endfor %}

    </table>
</section>

</body>
</html>